* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  color: #fff;
  margin-left: 25px;
}

#home {
  color: #fff;
}

#home:hover {
  background-color: grey;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #faebd7;
  color: #000;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #fff;
  width: 500px;
  margin: 0 auto;
}

h2,
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

ul,
ol {
  font-size: 16px;
}

.butter,
.fish,
.pumpkin {
  font-size: 24px;
  background-color: grey;
}

.text {
  border: 1px dotted #000;
  color: #fff;
}

.box,
.box-2,
.box-3 {
  box-sizing: border-box;
  color: #fff;
  height: auto;
  width: 100%;
  padding: 3px;
}

.box {
  background-color: #696969;
}

.box-2 {
  background-color: #191970;
  padding-left: 0;
  list-style-type: circle;
}

.box-3 {
  background-color: hsla(120, 93%, 79%, 0.4);
}

img {
  margin: 0 auto;
  display: block;
  border: 2px solid #fff;
  height: 100%;
  width: 500px;
  object-fit: cover;
}
